* {
  margin: 0;
  padding: 0;
}


/** NAVBAR **/

.navbar-default {
  background-color: #333;
}


/** BODY **/
#center-all {
  text-align: center;
  background-color: #F1F1F1;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica;
  width: 840px;
  margin: auto;

}

#title-container {
  color: #125688;
  padding-top: 5px;
}


.artist-message {
  color: #125688;
  padding: 7px;
}

.user-message strong {
  color: green;
}

.user-message {
  text-align: left;
  padding: 7px;
}

hr {
  border-color: #ccc;
}


/** ACCORDION **/

.faq li{
	padding:20px;
}

ul {
  list-style: none;
}


.faq li.q{
  font-family:'Tahoma', sans-serif;
	background:##F1F1F1;
	font-size:105%;
	/*border-bottom:1px #ddd solid;*/
	cursor:pointer;
}

.faq li.a{
	background:#F1F1F1;
	display:none;
}

/** FOOTER **/

footer {
  background: #333;
  color: #fff;
  padding: 30px 0px 20px 0px;
}



footer p {
  font-size: 12px;
  text-align: center;
}
